 * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

/*--- ヘッダー -----------------------------------*/

.Header {
    display: grid;
    height: 70px;
    background-color: white;
    width: 100%;
    align-items: center;
    
}

.Header-Common {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
}

.HeaderLogo {
    align-self: center;
    transition: opacity 0.2s;
}

.HeaderLogoImage-large {
    height: 20px;
    width: auto;
}

.HeaderLogoImage-small {
    height: 16px;
    width: auto;
}


@media (min-width: 768px) {

.HeaderContainer {
    margin: 0 36px;
}

.HeaderLogoImage-large {
    display: block;
}

.HeaderLogoImage-small {
    display: none;
}
}

@media (max-width: 767px) {

    .HeaderContainer {
        margin: 0 16px;
    }

    .HeaderLogoImage-large {
        display: none;
    }

    .HeaderLogoImage-small {
        display: block;
    }
}

@media (max-width: 414px) {
    .Header {
        height: 48px;
        padding: 0;
    }
}

.HeaderLogo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.HeaderNavList {
    display: flex;
    gap:  45px;
    list-style: none;
    text-align: center;
    font-weight: 400;
}

header li {
    display: flex;
    align-items: center;
    float: left;
    font-size: 10px;
    font-weight: bold;

}

header a {
    text-decoration: none;
    color: black;
}

#header-button {
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    padding: 0 20px;
    background-color: #F79214;
    transition: all 0.2s ease;
}

#header-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 1080px) {

    .HeaderNavList {
        display: none;
    }

    .HeaderNavHamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        margin: auto;
        z-index: 100;
    }

    .HeaderNavHamburger_line {
        position: absolute;
        top: 50%;
        display: block;
        background-color: #A2A2A4;
        transform: translate(0, -50%);
        width: 100%;
        height: 2px;
    }

    .HeaderNavHamburger_line:first-child {
        top: 0;
    }

    .HeaderNavHamburger_line:last-child {
        top: 100%;
    }
}


@media (max-width: 768px) {
    .header-logo {

    }

    .header-list ul {
        display: none;
    }

}


/*--- メイン -----------------------------------*/

.main {
  width: 100%;
  display: block;
}


.FirstView {
    position: relative;
    height: 739px;
}


/*---背景画像----------------------------*/

.FirstViewBackgroundImageForPC {
    position: absolute;
    z-index: -1;
}

#whole-image-for-small-display {
    display: none;
    width: 100%;
    margin-bottom: 7px;
}

#LeftRectangle {
  top: -70px;
  left: 0px;
}

#FillRectangle {
  top: 84px;
  left: -70px;
}

#RightRectangle {
  bottom: 70px;
  right: 0px;
}

#MainVisual {
  top: -70px;
  right: 0px;
  width: 775px;
}

@media (max-width: 767px) {

#whole-image-for-small-display {
    display: block;   
}

#LeftRectangle {
  display: none;
}

#RightRectangle {
  display: none;
}

#FillRectangle {
  display: none;
}

#MainVisual {
  display: none;
}

}

/*-------------------------------------*/
/*---FirstView コピーライト--------------*/


.FirstViewContainer {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 219px;
    position: relative;
}


.FirstViewContent {
    display: block;
    width: fit-content;
    position: relative;
}

.FirstViewContentTitle{
    font-size: 42px;
    margin-bottom: 16px;
    font-family: "Lato", sans-serif;
}

.FirstViewContent p {
    font-size: 12px;
    line-height: 16px;
    color: rgb(50, 49, 49);
}

.FirstViewContent button {
    color: white;
    font-size: 16px;
    width: 100%;
    height: 64px;
    border-radius: 30px;
    font-weight: 600;
    border: 0px;
    padding: 0 20px;
    background-color: #F79214;
    transition: opacity 0.2s ease;
    margin-bottom: 16px;
}

.FirstViewContent button:hover{
    cursor: pointer;
    opacity: 0.8;
}






#badge {
    position: absolute;
    top: -105px;
    right: -150px;
}


@media (max-width: 1080px) {
.FirstViewContainer {
    max-width: none;
    padding-left: 36px;
    padding-right: 36px;
}
}


@media (max-width: 767px) {

.FirstViewContainer {
    padding-top: 0;
    width: 100%;
    max-width: 767px;
    padding-left: 16px;
    padding-right: 16px;
}

.FirstViewContentTitle{
    font-size: 22px;
    line-height: 36px;
    position: relative;
    width: fit-content;
}

#badge {
    height: 102px;
    width: 102px;
    top: -20px;
    right: -110px;
}

.FirstViewContent button {
    max-width: 500px;
    width: 90%;
}
}